@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*구글웹폰트 style태그 빼고 소스, 길게나오는거 alt+z 눌리면 화면안으로 들어옴*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/*xe아이콘 get started 들어가서 1번 ""안에있는거 복사, 붙여넣기전에 @import url탭, 붙여넣기, 앞에 https:붙여주기*/


body {
    font-family: 'Noto Sans KR', sans-serif;
    /*웹폰트 CSS rules to specify families 안에 소스*/
}

.event {
    padding: 100px 0;
    text-align: center;
    background: #f9f9f9;
}

.event h2 {
    font-size: 31px;
    font-weight: 500;
    margin: 0 0 10px 0;
    letter-spacing: -0.025em;
    font-family: 'Noto Serif KR', serif;
}

.event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.45;
}

.event .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    /* background-color: #F00; */
}

.event .container img {
    width: 100%;
    margin: 0 0 10px 0;
}

.snsLink {
    background: #333;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 19px;
}

.snsLink i {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
}


.mopen {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 25px;
    background: #ddd;
    padding: 5px;
    border-radius: 3px;
}

@media (max-width:768px) {
    .event .container {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0 15px;

    }

    .mopen {
        display: block;

    }

}